/* Reset */

html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.dm_menu_2nd {
			     position: absolute;
			     width: 210px;
			     background: #EEE;
			     visibility: hidden;
			     }		   

.dm_menu_3rd {
			     position: absolute;
			     top: 0;
			     left: 210px;
			     width: 100%;
			     background: #CCC;
			     visibility: hidden;
			     }	   

.dm_menu_2nd_sub {
			     position: relative;
			     }
	   
.dm_menu_2nd_sub:hover .dm_menu_3rd {
			     visibility: visible;
			     }
			   

.dm:hover .dm_menu_2nd {
			     visibility: visible; 
                 }
                 
.dm_menu_4th {
                 position: absolute;
			     top: 0;
			     left: 210px;
			     width: 100%;
			     background: #CCC;
			     visibility: hidden;
}
.dm_menu_3rd_sub {
    position: relative;
}
.dm_menu_3rd_sub:hover .dm_menu_4th {
    visibility: visible;
    }



