html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.category-item {
    text-align: center;
}
.card-img-top {
    font-size: 3rem;
    margin: auto;
    text-align: center;
}
.category-name1 {
    text-align: center;
    margin-bottom: 0px;
}

.fa-caret-right {
    float: right;
    margin-top: 0.3rem;
}

.dm_1st_sub {
    color: #fff;
}
.dm_1st_sub:hover {
    color: #00008b;
}

.dm_2nd {
    position: absolute;
    width: 190px;
    background: #EEE;
    visibility: hidden;
    }		   
.dm_2nd_sub {
    position: relative;
    }
.dm_2nd_sub:hover .dm_3rd {
    visibility: visible;
    }

.dm_1st:hover .dm_2nd {
    visibility: visible; 
    }

.dm_3rd {
    position: absolute;
    top: 0;
    left: 190px;
    width: 100%;
    background: #EEE;
    visibility: hidden;
    }
.dm_3rd_sub {
    position: relative;
    }

.dm_4th {
    position: absolute;
    top: 0;
    left: 190px;
    width: 100%;
    background: #EEE;
    visibility: hidden;
    }
.dm_3rd_sub:hover .dm_4th {
    visibility: visible;
    }

.k-search {
    width: 100%;
}

.dropdown-item:hover {
    background-color: tomato;
}












.c_dm_1:hover {
    background-color: aqua;
    position: relative;
}



.c_dm_2 {
    position: absolute;
    width: 200px;
    visibility: hidden;
}

.c_dm_1:hover .c_dm_2 {
    visibility: visible;
}

.c_dm_2_sub {
    position: relative;
}


.c_dm_3 {
    position: absolute;
    top: 0;
    left: 200px;
    visibility: hidden;
}

.c_dm_2_sub:hover .c_dm_3 {
    visibility: visible;
}


