{% extends 'account/account.html' %}
{% load static %}

{% block content %}
<!-- ロゴ -->
<div>
    <h3>Quelle</h3>
    <h5>知識共有サイト</h5>
</div>

<!-- ログインフォーム -->
<div>
    <form method="post" action="{% url 'account_logout' %}">
		{% csrf_token %}
		{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
		{% endif %}
		<div class="text-center">
			<p>ログアウトしますか？</p>
			<p>
				<button type="submit" class="save btn btn-success" role="button">Log Out</button>
            </p>
        </div>
    </form>
</div>
<!-- ボタン -->
<div>
    <a href="#" class="btn btn-primary">Login</a>
    <p>まだサインアップ がお済みでない方は<a href="#">こちら</a></p>
</div>
{% endblock content %}