{% extends 'forum/base.html' %}
{% load static %}

{% block bread %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'forum:post_detail' %}">質問詳細</a></li>
<li class="breadcrumb-item"><a href="{% url 'forum:comment_edit' pk=comment.pk %}"></a> 回答する</li>
<li class="breadcrumb-item active"></li>
{% endblock %}

{% block content %}
<div class="container-fluid main-wrapper">
    <div class="row">
        <!-- ----- 質問フォーム ----- -->
        <div class="col-12 col-md-8">
            <div class="alert alert-primary fade show">
                <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>下書きに保存されました！</p>
            </div>
            <h3>回答確認</h3>
            <hr>
            <div>
                <h5>質問内容</h5>
                <p class="">{{ post.title }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            <div>
                <h5>回答内容</h5>
                <p>{{ comment.text|linebreaksbr }}</p>
            </div>
            <div>
                {% if not post.published_date %}
                <a class="btn btn-warning" href="{% url 'answer_publish' pk=post.pk %}" role="button">公開する</a>
                {% endif %}
                <a href="{% url 'forum:answer_edit' pk=comment.pk %}" class="btn btn-success" role="button">編集する</a>
                <a href="{% url 'forum:answer_draft_list' %}" class="btn btn-secondary">下書き一覧</a>
            </div>
        </div>

    </div>
</div>
{% endblock content %}