{% extends 'forum/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid main-wrapper">
    <div class="row">
        <!-- ---------- お問い合わせ ---------- -->
        <div class="col-12">
            <div>
                <h4 class="mb-3 text-center">お問い合わせ完了</h4>
                <hr>
                <p>お問い合わせいただきましてありがとうございます。</p>
                <p>ご入力いただいたメールアドレス宛に控えを送信いたしましたので、内容を今一度ご確認ください。</p>
                <p>担当より回答を送らせていただきますので、今しばらくお待ちください。</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}