{% extends 'forum/base.html' %}
{% load static %}

{% block bread %}
<li class="active">Home</li>
{% endblock %}

{% block content %}
<!-- ---------- 質問検索欄 ---------- -->
<div class="Qsearcher mt-2">
    <div class="container-fluid main-wrapper padding">
        <h2 class="text-center">質問を探す</h2>
        <hr>
        <div class="section-wrapper row padding">
            <!-- ---------- カテゴリーから探す ---------- -->
            <div class="col-12 my-3">
                <div class="card shadow">
                    <div class="card-header shadow-sm mb-2">
                        <h4><span class="marker">カテゴリーから探す</span></h4>
                    </div>
                    <div class="row no-gutters d-flex justify-content-around">
                        {% for grandcategory in grand_list %}
                        <ul class="col-5 col-md-3 mr-2 mt-2">
                            <li class="category-icon c_dm_1">
                                <div class="card shadow-sm c_dm_1_sub">
                                    <i class="card-img-top {{grandcategory.icon}} mt-3"></i>
                                    <div class="card-body p-2">
                                        <p class="card-text category-name1">{{ grandcategory.name }}</p>
                                    </div>
                                    <div class="card-footer d-flex justify-content-center p-1">
                                        <i class="fas fa-chevron-down"></i>
                                    </div>
                                </div>
                                <ul class="flex-column c_dm_2">
                                    {% for parentcategory in parent_list %}
                                    {% if parentcategory.grand.id == grandcategory.id %}
                                    <li class="c_dm_2_sub">
                                        <button class="dropdown-item">
                                            <span>{{ parentcategory.name }}</span><i class="fas fa-caret-right"></i>
                                        </button>
                                        <ul class="flex-column c_dm_3">
                                            {% for category in category_list %}
                                            {% if category.parent.id == parentcategory.id %}
                                            <li class="dropdown-item">
                                                <a href="{% url 'forum:post_list' category.id %}">
                                                    {{ category.name }}
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ---------- 質問 ---------- 
<div class="q&aform mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="Qform">
                    <h2>質問してみる</h2>
                    <hr>
                    <div class="section-wrapper p-3">
                        <div class="card shadow">
                            <div class="alert alert-info m-2 shadow" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h6><strong>質問する前に：</strong></h6>
                                <p>これから投稿しようとしている質問は過去に投稿されている可能性があります。</p>
                                <p>次のリンクから投稿前に確認をしておきましょう。</p>
                                <a href="#" class="alert-link">質問を探す</a>
                            </div>
                            <div class="card-body">
                                <form action="">
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="questionTitle"><span
                                                class="marker-light">質問タイトル</span></label>
                                        <input type="text" class="form-control" id="questionTitle" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="questionContent"><span
                                                class="marker-light">質問内容</span></label>
                                        <textarea class="form-control" name="" id="questionContent" cols="30"
                                            rows="10"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-bold" for="formControlFile"><span
                                                class="marker-light">添付ファイル</span></label>
                                        <input type="file" class="form-control-file" id="formControlFile">
                                    </div>
                                    <a href="#" class="Qconfirm">
                                        <button class="btn btn-primary mt-2" type="submit">確認する</button>
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





             ---------- 回答 ---------- 
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="Aform">
                    <h2>回答する</h2>
                    <hr>
                    <div class="section-wrapper p-3">
                        <div class="Aoptions bg-white py-3 shadow">
                            <h5 class="ml-3"><span class="marker-light">新着の質問</span></h5>
                            <div class="p-2 medium">
                                <div class="media m-3 p-2 btn-outline-info shadow">
                                    <a class="text-info d-flex justify-content-start" href="#">
                                        <span class="mr-3 fas fa-camera C-icon"></span>
                                        <div class="media-body">
                                            <h5 class="font-weight-bold mt-0">質問タイトル</h5>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, ....</p>
                                            <p class="media-detail text-right m-0 font-weight-light">投稿者：〇〇
                                                &nbsp;&nbsp;&nbsp; 投稿日時：YYYY/ MM/ DD</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="media m-3 p-2 btn-outline-info shadow">
                                    <a class="text-info d-flex justify-content-start" href="#">
                                        <span class="mr-3 fas fa-camera C-icon"></span>
                                        <div class="media-body">
                                            <h5 class="font-weight-bold mt-0">質問タイトル</h5>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, ....</p>
                                            <p class="media-detail text-right m-0 font-weight-light">投稿者：〇〇
                                                &nbsp;&nbsp;&nbsp; 投稿日時：YYYY/ MM/ DD</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="media m-3 p-2 btn-outline-info shadow">
                                    <a class="text-info d-flex justify-content-start" href="#">
                                        <span class="mr-3 fas fa-camera C-icon"></span>
                                        <div class="media-body">
                                            <h5 class="font-weight-bold mt-0">質問タイトル</h5>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, ....</p>
                                            <p class="media-detail text-right m-0 font-weight-light">投稿者：〇〇
                                                &nbsp;&nbsp;&nbsp; 投稿日時：YYYY/ MM/ DD</p>
                                        </div>
                                    </a>
                                </div>
                                <a href="#">
                                    <h6 class="text-center mt-4 mb-4">他の新着質問もみる</h6>
                                </a>
                                <hr class="mx-4 my-4">
                                <div class="text-center">
                                    <button class="mx-3 btn btn-outline-info p-3 text-center shadow">
                                        <h6 class="mx-5 mb-0">未解決の質問をみる</h6>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
{% endblock content %}