{% extends 'forum/base.html' %}
{% load static %}

{% block bread %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item active">NEWS</li>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <!-- ---------- 質問 ---------- -->
                <div class="col-12">
                    <div class="">
                        <h3 class="text-center">NEWS</h3>
                        <hr>
                    </div>
                    <div>
                        <div class="section-wrapper mt-3 p-3">
                            <div class="medium p-2">
                                {% for newspost in newspost_list %}
                                <div class="media">
                                    <div class="media-body">
                                        <h5><a href="{% url 'news_detail' pk=newspost.pk %}">{{ newspost.title }}</a></h5>
                                        <p>{{ newspost.text|linebreaksbr|truncatechars:100 }}</p>
                                        <p>{{ newspost.author }}</p>
                                        <p>{{ newspost.published_date }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}