{% extends 'forum/base.html' %}
{% load static %}

{% block bread %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'forum:news_list' %}">NEWS</a></li>
<li class="breadcrumb-item active">{{ newspost.title }}</li>
{% endblock %}

{% block content %}
<div class="container-fluid main-wrapper">
    <div class="row">
        <!-- ----- News ----- -->
        <div class="col-12">
            <h3 class="text-center">NEWS</h3>
            <hr>
            <div>
                <h5 class="text-info">{{ newspost.title }}</h5>
                <p>{{ newspost.text|linebreaksbr }}</p>
                <div class="my-4">
                    <p>{{ newspost.author }}</p>
                    <p class="my-0">{{ newspost.published_date }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}