{% extends 'forum/base.html' %}
{% load static %}

{% block bread %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'forum:news_list' %}">NEWS</a></li>
<li class="breadcrumb-item active">{{ newspost.title }}</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- ----- News ----- -->
        <div class="col-12 col-md-8">
            <h3>NEWS</h3>
            <hr>
            <div>
                <h5>{{ newspost.title }}</h5>
                <p>{{ newspost.text|linebreaksbr }}</p>
                <p>{{ newspost.author }}</p>
                <span>{{ newspost.published_date }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}