{% extends 'forum/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- ----- 質問詳細 ----- -->
        <div class="col-12 col-md-8">
            <h3>質問</h3>
            <hr>
            <div>
                <h5>{{ post.title }}</h5>
                <p>{{ post.text|linebreaksbr }}</p>
                {% if post.published_date %}
                <span>{{ post.published_date }}</span>
                {% endif %}
            </div>
            <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-success" role="button">編集する</a>
            {% if not post.published_date %}
                <a class="btn btn-warning" href="{% url 'post_publish' pk=post.pk %}" role="button">公開する</a>
            {% endif %}
            <a href="{% url 'post_remove' pk=post.pk %}" class="btn btn-danger">削除</a>
        </div>

        <!-- ----- 回答フォーム ----- -->
        <div class="col-12">
            <h5>回答する</h5>
            <hr>
            <p>
                <a class="btn btn-outline-info" href="{% url 'post_comment' pk=post.pk %}" role="button">コメントを追加</a>
            </p>
            <div>
                {% for comment in post.comments.all %}
                    {% if not comment.approved_comment %}
                        <p>
                            <a class="btn-danger" href="{% url 'comment_remove' pk=comment.pk %}" role="button">削除</a>
                            <a class="btn-primary" href="{% url 'comment_approve' pk=comment.pk %}" role="button">承認</a>
                        </p>
                    {% endif %}
                    <p>{{ comment.published_date }}</p>
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.text|linebreaks }}</p>
                    {% empty %}
                        <p>まだコメントはありません。</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}