{% extends 'forum/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- ---------- 質問 ---------- -->
        <div class="col-12 col-md-8">
            <div class="">
                <p>検索結果：全〇〇件</p>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">表示順</div>
                        <select class="form-control" name="" id="">
                            <option value="">新着順</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <div class="section-wrapper mt-3 p-3">
                    {% for post in post_list %}
                        <div>
                        <p>published: {{ post.published_date }}</p>
                        <a href="{% url 'post_detail' pk=post.pk %}">
                            <h2>
                                {{ post.title }}
                            </h2>
                        </a>                        
                        <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- ---------- サブメニュー --------- -->
        <div class="col-12 col-md-4">
            <!-- ----- 新着情報一覧 ----- -->
            <div class="mt-5">
                <h4 class="text-center">新着情報<span class="badge badge-info">New!!</span></h4>
                <hr>
                <div class="section-wrapper p-3">
                    <div class="medium">
                        <div class="media p-2 btn-outline-info bg-white shadow">
                            <a class="text-dark d-flex justify-content-start" href="#">
                                <div class="media-body">
                                    <h5 class="text-info font-weight-bold mt-0">タイトル</h5>
                                    <p class="media-detail text-right m-0 font-weight-light">投稿日時：YYYY/ MM/ DD</p>
                                </div>
                            </a>
                        </div>
                        <div class="media p-2 mt-2 btn-outline-info bg-white shadow">
                            <a class="text-dark d-flex justify-content-start" href="#">
                                <div class="media-body">
                                    <h5 class="text-info font-weight-bold mt-0">タイトル</h5>
                                    <p class="media-detail text-right m-0 font-weight-light">投稿日時：YYYY/ MM/ DD</p>
                                </div>
                            </a>
                        </div>
                        <div class="media p-2 mt-2 btn-outline-info bg-white shadow">
                            <a class="text-dark d-flex justify-content-start" href="#">
                                <div class="media-body">
                                    <h5 class="text-info font-weight-bold mt-0">タイトル</h5>
                                    <p class="media-detail text-right m-0 font-weight-light">投稿日時：YYYY/ MM/ DD</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ----- 新着投稿 ----- -->
            <div class="mt-5">
                <h4 class="text-center">新着投稿</h4>
                <hr>
                <div class="section-wrapper p-3">
                    <div class="medium">
                        <div class="media p-2 btn-outline-info bg-white shadow">
                            <a class="text-dark d-flex justify-content-start" href="#">
                                <div class="media-body">
                                    <h5 class="text-info font-weight-bold mt-0">質問タイトル</h5>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                        tempor invidunt ut labore et dolore magna aliquyam erat, ....</p>
                                    <p class="media-detail text-right m-0 font-weight-light">
                                        <span class="float-left"><i class="fas fa-comment"></i> 1件</span>
                                        投稿者：〇〇 &nbsp;&nbsp;&nbsp; 投稿日時：YYYY/ MM/ DD
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="media p-2 mt-3 btn-outline-info bg-white shadow">
                            <a class="text-dark d-flex justify-content-start" href="#">
                                <div class="media-body">
                                    <h5 class="text-info font-weight-bold mt-0">質問タイトル</h5>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                        tempor invidunt ut labore et dolore magna aliquyam erat, ....</p>
                                    <p class="media-detail text-right m-0 font-weight-light">
                                        <span class="float-left"><i class="fas fa-comment"></i> 1件</span>
                                        投稿者：〇〇 &nbsp;&nbsp;&nbsp; 投稿日時：YYYY/ MM/ DD
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="media p-2 mt-3 btn-outline-info bg-white shadow">
                            <a class="text-dark d-flex justify-content-start" href="#">
                                <div class="media-body">
                                    <h5 class="text-info font-weight-bold mt-0">質問タイトル</h5>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                        tempor invidunt ut labore et dolore magna aliquyam erat, ....</p>
                                    <p class="media-detail text-right m-0 font-weight-light">
                                        <span class="float-left"><i class="fas fa-comment"></i> 1件</span>
                                        投稿者：〇〇 &nbsp;&nbsp;&nbsp; 投稿日時：YYYY/ MM/ DD
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}