{% extends 'forum/base.html' %}
{% load static %}

{% block bread %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item">プロフィール</li>
<li class="breadcrumb-item active">下書き一覧</li>
{% endblock %}

{% block content %}
<div class="container-fluid main-wrapper">
    <div class="row">

        <!-- ---------- サイドメニュー ---------- -->
        <div class="col-12 col-md-4 mt-4 mt-md-5">
            <div class="list-group text-center">
                <a href="{% url 'profile' %}" class="list-group-item list-group-item-action">登録情報の確認・変更</a>
                <a href="{% url 'forum:post_draft_list' %}" class="list-group-item list-group-item-action active">下書き一覧</a>
                <a href="{% url 'forum:my_post_list' %}" class="list-group-item list-group-item-action">投稿した質問</a>
                <a href="{% url 'forum:my_answer_list' %}" class="list-group-item list-group-item-action">回答した質問</a>
            </div>
        </div>

        <!-- ---------- 質問 ---------- -->
        <div class="col-12 col-md-8 mt-5 mt-md-4">
            <div>
                <h4 class="mb-3 text-center">下書き一覧</h4>
                <hr>
                <div class="section-wrapper mt-3 p-3">
                    <!-- ----- タブ ----- -->
                    <nav>
                        <div class="nav nab-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link all-bgc active" id="nav-all-tab" data-toggle="tab"
                                href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">投稿</a>
                            <a class="nav-item nav-link bg-info" id="nav-pending-tab" data-toggle="tab"
                                href="#nav-pending" role="tab" aria-controls="nav-pending" aria-selected="false">回答</a>
                        </div>
                    </nav>
                    <!-- ----- メイン ----- -->
                    <div class="tab-content" id="nav-tabContent">
                        <!-- ----- すべて ----- -->
                        <div class="tab-pane fade show active pb-2 all-bgc" id="nav-all" role="tabpanel"
                            aria-labelledby="nab-all">
                            <div class="p-2 medium">
                                {% for post in post_list %}
                                <div class="media m-3 p-2 btn-outline-info bg-white shadow">
                                    <div class="text-dark d-flex justify-content-start d-block">
                                        <div class="media-body">
                                            <a class="d-block" href="{% url 'forum:post_detail' pk=post.pk %}">
                                                <h5 class="text-all font-weight-bold mt-0">{{ post.title }}</h5>
                                            </a>
                                            <p>{{ post.text|truncatechars:100 }}</p>
                                            <p class="media-detail text-right m-0 font-weight-light">
                                                <span class="float-left"><i class="fas fa-comment"></i> 1件</span>
                                                {{ post.author }} &nbsp;&nbsp;&nbsp; {{ post.created_date }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- ----- 未解決 ----- -->
                        <div class="tab-pane fade bg-info pb-2" id="nav-pending" role="tabpanel"
                            aria-labelledby="nav-pending-tab">
                            <div class="p-2 medium">
                                <div class="media m-3 p-2 btn-outline-info bg-white shadow">
                                    <a class="text-dark d-flex justify-content-start" href="#">
                                        <div class="media-body">
                                            <h5 class="text-info font-weight-bold mt-0">質問タイトル</h5>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, ....</p>
                                            <p class="media-detail text-right m-0 font-weight-light">
                                                <span class="float-left"><i class="fas fa-comment"></i> 1件</span>
                                                投稿者：〇〇 &nbsp;&nbsp;&nbsp; 投稿日時：YYYY/ MM/ DD
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="media m-3 p-2 btn-outline-info bg-white shadow">
                                    <a class="text-dark d-flex justify-content-start" href="#">
                                        <div class="media-body">
                                            <h5 class="text-info font-weight-bold mt-0">質問タイトル</h5>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, ....</p>
                                            <p class="media-detail text-right m-0 font-weight-light">
                                                <span class="float-left"><i class="fas fa-comment"></i> 1件</span>
                                                投稿者：〇〇 &nbsp;&nbsp;&nbsp; 投稿日時：YYYY/ MM/ DD
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="media m-3 p-2 btn-outline-info bg-white shadow">
                                    <a class="text-dark d-flex justify-content-start" href="#">
                                        <div class="media-body">
                                            <h5 class="text-info font-weight-bold mt-0">質問タイトル</h5>
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, ....</p>
                                            <p class="media-detail text-right m-0 font-weight-light">
                                                <span class="float-left"><i class="fas fa-comment"></i> 1件</span>
                                                投稿者：〇〇 &nbsp;&nbsp;&nbsp; 投稿日時：YYYY/ MM/ DD
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- ----- ページネーション ----- -->
                            <nav aria-label="page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a href="#" class="page-link previous" tabindex="-1">前へ</a>
                                    </li>
                                    <li class="page-item disabled"><a href="#" class="page-link">1</a></li>
                                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                                    <li class="page-item">
                                        <a href="#" class="page-link next">次へ</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}