{% extends 'forum/base.html' %}
{% load static %}

{% block bread %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item">{{ grand_category }}</li>
<li class="breadcrumb-item">{{ parent_category }}</li>
<li class="breadcrumb-item">{{ post.category }}</li>
<li class="breadcrumb-item active">質問内容</li>
{% endblock %}

{% block content %}
<div class="container-fluid main-wrapper">
    <div class="row">
        <!-- ----- 質問詳細 ----- -->
        <div class="col-12">
            <h3 class="text-center">質問内容</h3>
            <hr>
            <div>
                <h5>{{ post.title }}</h5>
                <p>{{ post.text|linebreaksbr }}</p>
                {% if post.published_date %}
                <span>{{ post.published_date }}</span>
                {% endif %}
            </div>
            <a href="{% url 'forum:post_edit' pk=post.pk %}" class="btn btn-success" role="button">編集する</a>
            {% if not post.published_date %}
            <a class="btn btn-warning" href="{% url 'forum:post_publish' pk=post.pk %}" role="button">公開する</a>
            {% endif %}
            <a href="{% url 'forum:post_remove' pk=post.pk %}" class="btn btn-danger">削除</a>
        </div>

        {% if post.published_date %}
        <!-- ----- 回答 ----- -->
        <div class="col-12 mt-5">
            <h5>回答する</h5>
            <hr>
            <p>
                <a class="btn btn-outline-info" href="{% url 'forum:post_comment' pk=post.pk %}" role="button">コメントを追加</a>
            </p>
            <div>
                {% for comment in post.comments.all %}
                <p class="comment-meta">{{ comment.created_date }}</p>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
                {% empty %}
                <p>まだコメントはありません。</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}