{% extends 'forum/base.html' %}
{% load static %}

{% block bread %}
<li><a href="/">Home</a></li>
<li><a href="{ url 'post_edit' pk=post.pk }">投稿する</a></li>
<li class="active">投稿内容確認</li>
{% endblock %}

{% block content %}
<div class="container-fluid main-wrapper">
    <div class="row">
        <!-- ----- 質問フォーム ----- -->
        <div class="col-12 col-md-8">
            <div class="alert alert-primary fade show">
                <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>下書きに保存されました！</p>
            </div>
            <h3>質問</h3>
            <hr>
            <div>
                <a class="d-block" href="{% url 'forum:post_detail' pk=post.pk %}">
                    <h5>{{ post.title }}</h5>
                </a>
                <p>{{ post.text|linebreaksbr }}</p>
                {% if post.published_date %}
                <span>{{ post.published_date }}</span>
                {% endif %}
            </div>
            <div>
                {% if not post.published_date %}
                <a class="btn btn-warning" href="{% url 'post_publish' pk=post.pk %}" role="button">公開する</a>
                {% endif %}
                <a href="{% url 'forum:post_edit' pk=post.pk %}" class="btn btn-success" role="button">編集する</a>
                <a href="{% url 'forum:post_draft_list' %}" class="btn btn-secondary">下書き一覧</a>
            </div>
        </div>

    </div>
</div>
{% endblock content %}