{% extends 'forum/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- ----- 質問フォーム ----- -->
        <div class="col-12 col-md-8">
            <h3 class="text-center">投稿する</h3>
            <hr>
            <div>
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit" role="button">確認する</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock content %}