{% extends 'forum/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block bread %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item"><a href="{ url 'post_detail' }">質問詳細</a></li>
<li class="breadcrumb-item active">回答する</li>
{% endblock %}

{% block content %}
<div class="col-12">
	<h3 class="text-center">回答する</h3>
	<hr>
	<form method="POST" class="post-form">
		{% csrf_token %}
		<div class="mb-3">
			<label for="">回答者</label>
			{% render_field form.author class="form-control" placeholder="" %}
		</div>
		<div class="mb-3">
			<label for="">回答内容</label>
			{% render_field form.text class="form-control" %}
		</div>
		<div class="text-center">
			<button type="submit" class="save btn btn-success" role="button">回答する</button>
		</div>
	</form>
</div>
{% endblock %}