{% extends 'forum/base.html' %}
{% load static %}

{% load widget_tweaks %}

{% block bread %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item">プロフィール</li>
<li class="breadcrumb-item active">登録情報の確認・変更</li>
{% endblock %}


{% block content %}
<div class="container-fluid main-wrapper">
    <div class="row">

        <!-- ---------- サイドメニュー ---------- -->
        <div class="col-12 col-md-4 mt-4 mt-md-5">
            <div class="list-group text-center">
                <a href="{% url 'profile' %}" class="list-group-item list-group-item-action active">登録情報の確認・変更</a>
                <a href="#" class="list-group-item list-group-item-action">下書き一覧</a>
                <a href="#" class="list-group-item list-group-item-action">投稿した質問</a>
                <a href="#" class="list-group-item list-group-item-action">回答した質問</a>
            </div>
        </div>

        <!-- ---------- プロフィール編集欄 ---------- -->
        <div class="col-12 col-md-8 mt-5 mt-md-4">
            <div>
                <h4 class="mb-3 text-center">登録情報の編集</h4>
                <hr>
                <div class="section-wrapper mt-3 p-3">
                    <div class="d-flex justify-content-around">
                        <form class="" action="" method="post">
                            <!-- 登録するボタンを押した時に、ビューのpost関数がコールされる。 -->
                            <!-- フォームでデータが改ざんされることを防ぐための記載 -->
                            {% csrf_token %} 
                            <div class="form-group">
                                <h5>名前：</h5>
                                <p>
                                    {% render_field form.first_name class="form-control" placeholder="姓" %}
                                    {% render_field form.last_name class="form-control" placeholder="名" %}
                                </p>
                            </div>
                            <div class="form-group">
                                <h5>所属</h5>
                                <p>
                                    {% render_field form.department class="form-control" placeholder="所属" %}
                                </p>
                            </div>
                            <div class="form-group">
                                <h5>所属</h5>
                                <p>
                                    {% render_field form.position class="form-control" placeholder="役職" %}
                                </p>
                            </div>
                            <div class="button mx-auto">
                                <button class="btn btn-lg btn-warning btn-block" type="submit">登録する</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}